*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgb(117, 143, 72);
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 200px;
    font-size: 200px;
}
.cabecalho-imagem {
    width: 250px;
    height: 250px;
}
.cabecalho-lista-item {
    display: inline-block;
    padding: 50px;
    margin: 50px;
}
.colegio{
    background-color: aliceblue;
    color: black;
    font-size: 21px;
    padding: 40px;
}
.colegio-titulo{
    padding: 24px 0px;
}